:root {
    margin: 0px;
    padding: 0px;;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 2px dotted blueviolet;
    padding: 1px;

}

.grid-item {
    width: 6.20%;
    padding-top: 4%;
    box-sizing: border-box;
    margin-bottom: 1px;
    border: 1px solid black;

}

